.Hero {
    display: flex;
    justify-content: space-around;
}

.Hero-section-title {
    color: white;
}

#Hero-img img {
    display: -webkit-box;
    margin-left: auto;
    width: 323px;
    height: 603px;
}